
<% provide(:title, 'Home') %>

<div class='MainCont'>
    <% image_tag("golf.jpd",alt:"welcom logo", :class =>"welcomIn")%>
<h1>Home</h1>
<p>Welcome to your first home page</p>
<hr>
<p>This will be the home page for your project. We will work on this every week</p>

</div>