
<% provide(:title, 'about') %>

<!--<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p> -->

<h1>About_PAGE</h1>
<p> Your are welcome to my My About page</p>
<br>
<P>This will be the help page of the application we willbe working on </p>

