<% provide(:title, 'Help') %>

<!--<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p> -->

<h1>HELP_PAGE</h1>
<p> Your are welcome to my My Help page</p>
<br>
<P>This will be the help page of the application we willbe working on </p>
